{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Predict Image</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <script>
      function previewImage(event) {
         const reader = new FileReader();
         reader.onload = function () {
            const output = document.getElementById('imagePreview');
            output.src = reader.result;
            output.style.display = 'block';
         };
         reader.readAsDataURL(event.target.files[0]);
      }
   </script>
</head>

<body>
   <div class="container">
      <div class="text">
         Upload Cats and Dogs Image Only
      </div>
      {% if predicted_result %}
      <div class="text">
         This is a : {{predicted_result}}
      </div>
      {% endif %}

      <form action="{% url 'predictresult' %}" method="post" enctype="multipart/form-data">
         {% csrf_token %}
         <div class="form-row">
            <div class="input-data textarea">
               <div class="image-container">
                  <img id="imagePreview" class="imagePreviewclass" src="{% static 'images/default.webp' %}" alt="Image Preview" />
               </div>
               <input type="file" name="image" accept="image/*" onchange="previewImage(event)">
               {{ form.as_p }}
               <br />
               <div class="inner"></div>
               <input type="submit" value="submit">
            </div>
      </form>
   </div>
</body>

</html>
